@tailwind base;
@tailwind components;
@tailwind utilities;


.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}


body {
  color: rgb(var(--foreground-rgb));
 background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Formula1-Bold ';
  src: url('../fonts//Formula1-Bold.otf') format('truetype');
  /* Add additional src entries if you have other font file formats */
}

@font-face {
  font-family: 'Formula1-Wide';
  src: url('../fonts/Formula1-Wide.otf') format('truetype');
  /* Add additional src entries if you have other font file formats */
}

@font-face {
  font-family: 'Formula1-Regular';
  src: url('../fonts/Formula1-Regular.otf') format('truetype');
  /* Add additional src entries if you have other font file formats */
}



.header-font {
  font-family: 'Formula1-Bold';
}
.name-font{
  font-family: 'Formula1-Regular';
}
.card-font{
  font-family: 'Formula1-Wide';
}
